@model dynamic

@{
    ViewBag.Title = "Roll Call Detail";
    Layout = "_Layout";
}
<style>
    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #c3f19a; /* Choose your own color here */
    }
    
    th,td{
        vertical-align: middle;
    }
    
    .card-header{
        background: #9ca5af;
        color: white;
    }
</style>
<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a href="/">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Roll Call Detail</li>
    </ol>
    <div class="container">
        <div class="row" style="margin-bottom: 15px">
            <div class="col-sm-5">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="line-height: 0.7">
                    <div class="card-header">
                        <i class="bi bi-ticket-detailed"> Roll Call Detail</i>
                    </div>
                    <div class="card-body" id="rollCallDetail">
                        <div class="p-2">
                            <div class="row r-fix pt-2 pr-3 pb-2 pl-3 r-full">
                                <div class="col-4" style="font-weight: bold;text-align: end">
                                    Subject
                                </div>
                                <div class="col-8 text" id="subject"></div>
                            </div>
                            <div class="row r-fix pt-2 pr-3 pb-2 pl-3 r-full">
                                <div class="col-4" style="font-weight: bold;text-align: end">
                                    Class
                                </div>
                                <div class="col-8 text" id="class">
                                </div>
                            </div>
                            <div class="row r-fix pt-2 pr-3 pb-2 pl-3 r-full">
                                <div class="col-4" style="font-weight: bold;text-align: end">
                                    Date
                                </div>
                                <div class="col-8 text" id="date"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-header">
                        <i class="bi bi-person-lines-fill"> Student List</i>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-sm">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        #
                                    </th>
                                    <th>
                                        Student Code
                                    </th>
                                    <th>
                                        Student Name
                                    </th>
                                    <th>
                                        Phone Number
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="studentList">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-header">
                        <i class="bi bi-list-check"> Attendance Log</i>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        #
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        Present Date (Present/Total)
                                    </th>
                                    <th style="text-align: center">
                                        Log Detail
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="attendanceLog">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {   
     loadData();
});

function loadData() {
    const rollCallId = @Html.Raw(Json.Serialize(Model));
    console.log(rollCallId);
    $.ajax({
            url: "https://localhost:5001/RollCall/"+rollCallId,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                let studentListHtml = '';
                let rollCallDetailHtml = '';
                let attendanceLogHtml = '';
                let countStudent =0;
                let countAttendanceLog =0;
                console.log(data);
                $.each(data.data.students, function (key, item) {
                    countStudent++;    
                    //Student List
                    studentListHtml += '<tr>';
                    studentListHtml += '<th scope="row">' + countStudent + '</th>';
                    studentListHtml += '<td>' + item.studentCode + '</td>';
                    studentListHtml += '<td>' + item.fullName + '</td>';
                    studentListHtml += '<td>' + item.phoneNumber + '</td>';
                    studentListHtml += '</tr>';
                });
                
                $.each(data.data.attendanceLogs, function (key, item) {
                    countAttendanceLog++;
                    attendanceLogHtml += '<tr>';
                    attendanceLogHtml += '<th scope="row">' + countAttendanceLog + '</th>';
                    attendanceLogHtml += '<td>' + item.attendanceDate + '</td>';
                    attendanceLogHtml += '<td>' + item.attendanceTime + '</td>';
                    attendanceLogHtml += '<td>' + item.presentRate + '</td>';
                    attendanceLogHtml += '<td style="text-align: center"><a class="btn btn-success" href="RollCall/RollCallDetail?RollCallId='+item.id+'" role="button">Log Detail</a></td>';
                    attendanceLogHtml += '</tr>';
                });
                
                $('#subject').text(data.data.subject.name || "");
                $('#class').text(data.data.class.name || "");
                $('#date').text(data.data.fromDate + " to "+ data.data.endDate);

                $('#studentList').html(studentListHtml);
                $('#attendanceLog').html(attendanceLogHtml);
               
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
}
</script>